.mov-header-box {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $black;
  height: $titlebar-height;
  font-family: $font;
  color: $white;
  z-index: 2;
}

.mov-header {
  padding: 0 2*$spacer;
  width: 100%;
  margin: 0 auto;
}

.mov-header-elements {
  color: $white;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: $font-weight-light;
}
